@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@tailwind base;
@tailwind components;
@tailwind utilities;

body:focus {
  outline: none;
}

:focus-visible {
  outline: none;
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.6); /* мягкое кольцо как у Tailwind ring */
  border-radius: 4px;
  transition: box-shadow 0.2s ease;
}